@tailwind base;
@tailwind components;
@tailwind utilities;
code {
  background-color: #cbd3f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 5px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .skills-scrollbar {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }
  .skills-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
